# Server
PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

# MongoDB
MONGODB_URI=mongodb://localhost:27017/FileSphare

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# File Limits
MAX_FILE_SIZE_MB=100
UPLOAD_DIR=uploads
OUTPUT_DIR=outputs

# Cleanup
CLEANUP_INTERVAL_MINUTES=60
FILE_TTL_MINUTES=60
